@media screen and (min-width: 400px) and (max-width: 576px) {
  /* .inter {
    margin: 0 auto;
  } */
  /* nav bar & banner 1 is starts */
  .navigation {
    max-width: 90%;
    margin: 0 auto;
    margin-top: 10%;
  }
  .nav-items {
    display: none;
  }
  .ham {
    display: block;
    color: white;
  }
  .body {
    display: block;
  }

  .healthy-description {
    max-width: 90%;
    margin: 0 auto;
    margin-top: 51px;
  }
  .jime-title {
    max-width: 285px;
    min-height: 129px;
    font-size: 2rem;
  }
  .jime-pera {
    max-width: 274px;
    min-height: 96px;
  }

  .img-body {
    margin: 0 auto;
    margin-top: -120px;
    max-width: 80%;
  }
  .free-work {
    max-width: 145.91px;
    min-height: 50.09px;
    position: relative;
    top: -450px;
    left: 200px;
  }
  #jime {
    max-width: 353px;
    min-height: 400px;
  }
  .tutorial {
    position: relative;
    top: -305px;
    left: 15%;
  }
  /* nav bar & banner 1 is end */
  /* banner-2 start */
  /* .banner-2 {
    margin-top: 400px;
  } */
  .bottom-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .last {
    margin-left: 1px;
  }
  /* banner-2 end */
  /* banner-3 start */
  .banner-3 {
    margin-top: 920px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 353px;
    height: 531px;
  }
  .left {
    margin: 0 auto;
    max-width: 287px;
    height: 264px;
  }
  .btn-now {
    margin: 0px;
  }
  #btn-now-1 {
    text-align: center;
  }
  .right {
    margin: 0 auto;
    margin-bottom: 25px;
    max-width: 287px;
    height: 170px;
  }
  /* banner-3 end */
  /* banner-5 starts */
  .pc-main {
    /* max-width: 1000px; */
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.1);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-left: 15%;
  }
}
